---
# tasks file for geekoops-php-fpm

- name: include distribution specific vars
  include_vars: "{{ ansible_distribution }}_{{ ansible_distribution_version }}.yml"

- name: Ensure php packages are installed
  package:
    name: "{{ packages }}"
    state: present
  tags: ['php', 'php-fpm']

- name: Ensure php.ini is configured
  template:
    src: php.ini.j2
    dest: "{{php_ini}}"
    owner: root
    group: root
    mode: 0644
  notify: restart php-fpm
  tags: ['php', 'php-fpm']
  when: configure_php_ini == true

- name: Ensure php-fpm.conf is configured
  template:
    src: php-fpm.conf.j2
    dest: "{{php_fpm_conf}}"
    owner: root
    group: root
    mode: 0644
  notify: restart php-fpm
  tags: ['php-fpm']
  when: configure_php_fpm == true

- name: Ensure {{php_fpm_pool}}.conf is configured
  template:
    src: www.conf.j2
    dest: "{{php_pool_conf_path}}/{{php_fpm_pool}}.conf"
    owner: root
    group: root
    mode: 0644
  notify: restart php-fpm
  tags: ['php-fpm']
  when: configure_php_fpm == true

- name: Ensure AppArmor knows about our new config file, the socket, and some log files it tries to create
  ansible.builtin.blockinfile:
    path: /etc/apparmor.d/local/php-fpm
    marker: "# {mark} ANSIBLE MANAGED BLOCK {{php_fpm_pool}}"
    state: present
    block: |
      /var/log/php-fpm/{{php_fpm_pool}}.access.log rw,
      /var/log/php-fpm/{{php_fpm_pool}}.log.slow rw,
      /var/log/{{php_fpm_pool}}.log rw,
      @{run}/php{,-fpm}/{{php_fpm_pool}}.pid rw,
      @{run}/{{php_fpm_pool}}.pid rw,
      @{run}/php{,-fpm}/{{php_fpm_pool}}.sock rwlk,

- name: create log directory for php-fpm
  ansible.builtin.file:
    path: "/var/log/php-fpm/"
    state: directory
    mode: '0755'
    group: 'www'
    owner: 'wwwrun'

- name: Ensure AppArmor is reloaded
  systemd:
    name: apparmor
    state: restarted
    enabled: true

- name: Ensure php-fpm is enabled
  systemd:
    name: php-fpm
    state: started
    enabled: true
  tags: ['php-fpm']
  when: enable_php_fpm == true
